/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 700px;
  height: auto;
  border-collapse: collapse;

  background-color: #f1f3f5;
}

th, td {
  padding: 20px 0;
}

th {
  width: 20%;
  font-weight: normal;
  background-color: #212529;
  border: none;
  
  color: white;
  position: relative;
}

td {
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #e9ecef;
}

th:first-child::after {
  content: "(DESC)";
  position: absolute;
  font-size: 10px;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 5px;
}