/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* 
MAIN COLOR: #087f5b
GREY COLOR: #343a40
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #38d9a9, #22b8cf)
}

table {
  background-color: transparent;
  border-collapse: collapse;
}

.table-class {
  width: 1000px;
  height: 400px;
  overflow: auto;
  border: 0.8px solid #fff;
}

th {
  width: 20%;
  text-align: left;
  background: rgba(255, 255, 255, 0.35);
}

th, td {
  padding: 15px 20px;
  color: #fff;
  border-bottom: 0.8px solid #fff;
}

span {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}
